<div class="col-sm-6 home__left-block">
    <div class="home__lb-welcome">
      <h2>Bienvenue <br>
        <span class="user__info" style="color: #EC334D;">
          {{currentUser.firstName}}
          <span class="user__type-info">
            <span *ngIf="currentUser.isTeacher">Enseignant</span>
            <span *ngIf="!currentUser.isTeacher">Étudiant</span>
          </span>
        </span>
      </h2>
    </div>

    <div class="home__lb-call">
      <div class="home__lb-call-head">
        <h3 *ngIf="currentUser.isTeacher">
          Appels
        </h3>
        <h3 *ngIf="!currentUser.isTeacher">
          Absences
        </h3>
      </div>
      <div class="home__lb-call-content">
        <ul *ngIf="currentUser.isTeacher" class="home__call-list">
          <li *ngFor="let course of courses">
            <div class="home__lb-course" *ngIf="course.startTime < today">
              <div>
                <div class="course-subject">
                <span>
                  {{ course.subject }}
                </span>
                  <span *ngFor="let room of course.room">
                  {{ room }}
                </span>
                </div>
                <div class="course-time">
                  {{ course.startTime - 3600000 | date: 'HH:mm' }} - {{ course.endTime - 3600000 | date: 'HH:mm'}}
                </div>
              </div>


              <button class="button" [routerLink]="['/call', course._id]">
                FAIRE UN APPEL
              </button>
            </div>
          </li>
        </ul>
        <ul *ngIf="!currentUser.isTeacher" class="home__absence-list">
           <li *ngFor="let absence of absences">
            {{ absence.type }} de {{ absence.subject }} le {{ absence.startTime - 3600000 | date: "dd MMMM yyyy 'à' HH:mm" }}
           </li>
        </ul>
      </div>
    </div>
</div>
<div class="col-sm-6 home__right-block">
  <div class="home__rb-head">
    <h3>
      Aujourd'hui et demain...
    </h3>
  </div>
  <div class="home__rb-content">
    <ul class="home__course-list">
      <li  *ngFor="let course of courses">
        <div class="course__left-block">
          <div class="course-subject">
            {{ course.subject }}
          </div>
          <div>
            <span>{{ course.startTime - 3600000 | date: 'HH:mm' }}</span> -
            <span *ngFor="let room of course.room">
              {{ room }}
            </span>
          </div>

        </div>
        <div class="course__right-block">

        </div>

      </li>
    </ul>
  </div>
</div>
