<!-- main app container -->
<div class="container-fluid">
  <div class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <a class="logo" href="#">
          TC_NET 3
        </a>
        <a class="white-button logout-button" [routerLink]="['/login']">Logout</a>
        <a class="white-button logout-button" [routerLink]="['/profile']">Profile</a>
      </div>
    </div>
  </div>
  <div class="container content">
    <div class="row">
      <alert></alert>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
