<!-- main app container -->
<div class="container-fluid">
  <div class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <a class="logo" href="#">
          TC NET v3.0
        </a>
        <div class="navbarRight">
          <a class="white-button profile-button" [routerLink]="['/profile']">Profile</a>
          <a class="white-button logout-button" [routerLink]="['/login']">Logout</a>
        </div>
      </div>
    </div>
  </div>
  <div class="container content">
    <div class="row">
      <alert></alert>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
