<div class="col-xs-12 col-md-8 col-md-offset-2">
  <h2>
    Fiche d'Appel ( {{ absents.length }} absents / {{ noStudents }} étudiants)
  </h2>
  <div class="callroll__head">
    <div class="callroll__title">
      <h1>
        {{ course.subject }}
      </h1>
      <h3>
        {{ course.room }}
      </h3>
      <div>
        <span>
          {{ course.startTime - 3600000 | date: 'HH:mm' }}
        </span>
        <span> - </span>
        <span>
          {{ course.endTime - 3600000 | date: 'HH:mm' }}
        </span>

        <span>
          {{ course.startTime - 3600000 | date: 'EEEE dd MMMM yyyy' }}
        </span>
      </div>

    </div>

    <button class="button__finish-roll" [disabled]="!checkRollSum()" (click)="sendRollCall()" *ngIf="noStudents>5">
      TERMINER APPEL
    </button>
  </div>

  <ul class="callroll__list">
    <li *ngFor="let user of users" [ngClass]="{'absent': user.isAbs, 'present': user.isPres}">
      <div class="callroll__user">
        {{ user.firstName }}
        <span class="callroll__lastname">
          {{ user.lastName }}
        </span>
        <span>
          {{ user.group }}
        </span>
      </div>

      <div>
        <button class="button__absent" (click)="setAbsent(user)">
          Absent
        </button>
      </div>
    </li>
  </ul>
  <button class="button__finish-roll" [disabled]="!checkRollSum()" (click)="sendRollCall()">
    TERMINER APPEL
  </button>
</div>
