$dark-blue: #164686;

@mixin vendorize($property, $value) {
  -webkit-#{$property}: $value;
  -moz-#{$property}: $value;
  -ms-#{$property}: $value;
  -o-#{$property}: $value;
}

@import "stylesheets/override";

html,
body {
  font-family: 'Roboto', sans-serif;
  background-color: #EFF0F4;
}

.navbar {
  display: flex;
  align-items: center;
  background-color: $dark-blue;
  color: #ffffff;
}

.navbar-header {
  width: 100%;

}

.navbarRight {
  float: right;
  margin-top: 7px;
}

.logo {
  color: white;
  font-weight: 700;
  font-size: 24px;

  &:hover,
  &:focus {
    color: white;
    text-decoration: none;
  }
}

button,
a {
  &:hover,
  &:focus {
    text-decoration: none;
  }
}

button {
  background-color: #1C8AE5;
  color: white;
  padding: 4px 20px;
  text-decoration: none;
  border-radius: 0;
  border: 0;
}

.white-button {
  background-color: white;
  color: $dark-blue;
  border: 2px solid transparent;

  @include vendorize(transition, all .5s);

  &:hover {
    background-color: $dark-blue;
    color: white;
    border: 2px solid white;
  }
}

.plain-button {
  background-color: $dark-blue;
  color: white;
  border: 2px solid white;

  &:hover {
    border-bottom: 2px solid white;
  }
}

.logout-button {
  padding: 4px 20px;
  text-decoration: none;
  margin-left: 10px;
}

.profile-button {
  padding: 4px 20px;
  text-decoration: none;
  margin-left: 10px;
}

.logout-button:hover,
.logout-button:focus{
  color: white;
  text-decoration: none;
}

.content {
  margin-top: 60px;
}
