$dark-blue: #164686;

@mixin vendorize($property, $value) {
  -webkit-#{$property}: $value;
  -moz-#{$property}: $value;
  -ms-#{$property}: $value;
  -o-#{$property}: $value;
}

@import "stylesheets/override";

html,
body {
  font-family: 'Roboto', sans-serif;
  background-color: #EFF0F4;
}

.navbar {
  display: flex;
  align-items: center;
  background-color: $dark-blue;
  color: #ffffff;
}

.navbar-header {
  width: 100%;
}

.white-button {
  background-color: white;
  color: $dark-blue;
  border: 2px solid transparent;

  @include vendorize(transition, all .5s);

  &:hover {
    background-color: $dark-blue;
    color: white;
    border: 2px solid white;
  }
}

.logout-button {
  float: right;
  padding: 4px 20px;
  text-decoration: none;
}

.logout-button:hover,
.logout-button:focus{
  color: white;
  text-decoration: none;
}

.content {
  margin-top: 60px;
}
